<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @cadastro.idade %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @cadastro.data_de_nascimento %>
</p>

<p>
  <strong>Filhos:</strong>
  <%= @cadastro.filhos %>
</p>

<p>
  <strong>Programa assistencial:</strong>
  <%= @cadastro.programa_assistencial %>
</p>

<p>
  <strong>Nome do programa:</strong>
  <%= @cadastro.nome_do_programa %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cadastro.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cadastro.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cadastro.cep %>
</p>

<p>
  <strong>Regiao:</strong>
  <%= @cadastro.regiao %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cadastro.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cadastro.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cadastro.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cadastro.email %>
</p>

<p>
  <strong>Rede social:</strong>
  <%= @cadastro.rede_social %>
</p>

<p>
  <strong>Tipo rede:</strong>
  <%= @cadastro.tipo_rede %>
</p>

<p>
  <strong>Ocupacao:</strong>
  <%= @cadastro.ocupacao %>
</p>

<p>
  <strong>Instituicao:</strong>
  <%= @cadastro.instituicao %>
</p>

<p>
  <strong>Equipe:</strong>
  <%= @cadastro.equipe %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @cadastro.observacao %>
</p>

<%= link_to 'Edit', edit_cadastro_path(@cadastro) %> |
<%= link_to 'Back', cadastros_path %>
