<h1>Lista de Notas</h1>

<table>
  <thead>
    <tr>
      <th>Conteúdo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= link_to 'Mostrar', note %></td>
        <td><%= link_to 'Editar', edit_note_path(note) %></td>
        <td><%= link_to 'Apagar', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Nota', new_note_path %>
