<tbody>
    <tr>
        <td>
            <div class="btn-group" role="group" aria-label="...">
               <%= link_to 'Agenda', agendas_path %>
                <%= image_tag("agenda.png", :alt => "rss feed") %>
            </div>
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
            <%= link_to "cadastros", cadastros_path %>
             <%= image_tag("cadastro.png", :alt => "rss feed") %>
            </div>
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
            <%= link_to "Oficios", oficios_path %>
            <%= image_tag("oficios.png", :alt => "rss feed") %>
            
        
             
            </div>
        </td>
    </tr>
</tbody>

