<p>
  <strong>Compromisso:</strong>
  <%= @agenda.compromisso %>
</p>

<p>
  <strong>Data:</strong>
  <%= @agenda.data %>
</p>

<p>
  <strong>Local:</strong>
  <%= @agenda.local %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @agenda.horario %>
</p>

<p>
  <strong>Classe compromisso:</strong>
  <%= @agenda.classe_compromisso %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agenda.status %>
</p>

<p>
  <strong>Realizado:</strong>
  <%= @agenda.realizado %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @agenda.descricao %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @agenda.observacao %>
</p>

<p>
  <strong>Anfitriao:</strong>
  <%= @agenda.anfitriao %>
</p>

<p>
  <strong>Cargo anfitriao:</strong>
  <%= @agenda.cargo_anfitriao %>
</p>

<p>
  <strong>Orgao:</strong>
  <%= @agenda.orgao %>
</p>

<p>
  <strong>Convidado:</strong>
  <%= @agenda.convidado %>
</p>

<p>
  <strong>Telefone contato:</strong>
  <%= @agenda.telefone_contato %>
</p>

<p>
  <strong>Web page:</strong>
  <%= @agenda.web_page %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agenda.email %>
</p>

<p>
  <strong>Telefone convidado:</strong>
  <%= @agenda.telefone_convidado %>
</p>

<%= link_to 'Editar', edit_agenda_path(@agenda) %> |
<%= link_to 'Voltar', agendas_path %>
